
.App {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
     /* background-image: url("./Assets/background1.png");  */
     background-size: cover;
     background-repeat: no-repeat;
     background: rgb(255, 192, 203);
    background: linear-gradient(
        90deg,
        rgba(255, 192, 203, 1) 20%,
        rgba(178, 245, 255, 1) 65%,
        rgba(61, 209, 231, 1) 100% 
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
